---
layout: default
---
{%- assign _posts-basic = site.posts | sort: 'date' | reverse -%}
{%- include header.html scrolly_nav=_posts-baisc -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Posts-basic List -->
	{%- for _post-basic in _posts-basic -%}
		{%- capture _title -%}
			<a href="{{- _post-basic.url | absolute_url -}}">{{- _post-basic.title -}}</a>
		{%- endcapture -%}
		{%- capture _subtitle -%}
			{% if _post-basic.author -%}{{- _post-basic.author }} | {% endif %}
			{{- _post-basic.date | date_to_long_string -}}
		{%- endcapture -%}
		{%- capture _excerpt -%}<p>{{- _post-basic.excerpt | strip_html | truncatewords: 100 -}}</p>{%- endcapture -%}
		{%- capture _link -%}<a href="{{- _post-basic.url | absolute_url -}}">read more</a>{%- endcapture -%}
		{%- assign _content = _excerpt | append: _link -%}
		{%- include section.html title=_title subtitle=_subtitle content=_content -%}
	{%- endfor -%}
</div>